# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Helix Jump.iml
# Datasource local storage ignored files
/../../../../../../:\WorkProjects\Helix Jump\.idea\.idea.Helix Jump\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
